<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>AddnewDriver</servlet-name>
        <servlet-class>sevletz.AddnewDriver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ff</servlet-name>
        <servlet-class>ff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadDrireg</servlet-name>
        <servlet-class>sevletz.LoadDrireg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVehicle</servlet-name>
        <servlet-class>sevletz.AddVehicle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUser</servlet-name>
        <servlet-class>sevletz.LoginUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddreviewUser</servlet-name>
        <servlet-class>sevletz.AddreviewUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadKilometerdistance</servlet-name>
        <servlet-class>sevletz.LoadKilometerdistance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmRide</servlet-name>
        <servlet-class>sevletz.ConfirmRide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveVehicle</servlet-name>
        <servlet-class>sevletz.RemoveVehicle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemovDriver</servlet-name>
        <servlet-class>sevletz.RemovDriver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveBranch</servlet-name>
        <servlet-class>sevletz.RemoveBranch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUser</servlet-name>
        <servlet-class>sevletz.RemoveUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveReview</servlet-name>
        <servlet-class>sevletz.RemoveReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddnewBranch</servlet-name>
        <servlet-class>sevletz.AddnewBranch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddnewVehtypez</servlet-name>
        <servlet-class>sevletz.AddnewVehtypez</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Removetypeveh</servlet-name>
        <servlet-class>sevletz.Removetypeveh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Adminlogz</servlet-name>
        <servlet-class>sevletz.Adminlogz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDriver</servlet-name>
        <servlet-class>sevletz.LoginDriver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishRide</servlet-name>
        <servlet-class>sevletz.FinishRide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>sevletz.RegisterUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddnewDriver</servlet-name>
        <url-pattern>/AddnewDriver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ff</servlet-name>
        <url-pattern>/ff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadDrireg</servlet-name>
        <url-pattern>/LoadDrireg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVehicle</servlet-name>
        <url-pattern>/AddVehicle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUser</servlet-name>
        <url-pattern>/LoginUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddreviewUser</servlet-name>
        <url-pattern>/AddreviewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadKilometerdistance</servlet-name>
        <url-pattern>/LoadKilometerdistance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmRide</servlet-name>
        <url-pattern>/ConfirmRide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveVehicle</servlet-name>
        <url-pattern>/RemoveVehicle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemovDriver</servlet-name>
        <url-pattern>/RemovDriver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveBranch</servlet-name>
        <url-pattern>/RemoveBranch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUser</servlet-name>
        <url-pattern>/RemoveUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveReview</servlet-name>
        <url-pattern>/RemoveReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddnewBranch</servlet-name>
        <url-pattern>/AddnewBranch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddnewVehtypez</servlet-name>
        <url-pattern>/AddnewVehtypez</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Removetypeveh</servlet-name>
        <url-pattern>/Removetypeveh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Adminlogz</servlet-name>
        <url-pattern>/Adminlogz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDriver</servlet-name>
        <url-pattern>/LoginDriver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishRide</servlet-name>
        <url-pattern>/FinishRide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
